[Unit]
Description=Go Web Application
After=network.target

[Service]
User=csye6225
Group=csye6225
ExecStart=/usr/local/bin/webapp

[Install]
WantedBy=multi-user.target
