[Unit]
Description=Go Web Application
After=network.target

[Service]
User=csye6225
Group=csye6225
Environment=DBHOST=
Environment=DBPORT=
Environment=DBUSER=
Environment=DBPASS=
Environment=DBNAME=
ExecStart=/usr/local/bin/webapp
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target